.friendListItem {
    width: 130px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-color: aliceblue;
    border: 3px solid aliceblue;
    border-radius: 10px;
    background-color: #242424;
}

.avatarItem {
    margin-bottom: 10px;
}

.nameItem {
    font-size: 24px;
    color: #ffffff;
}

.statusItemOnline {
    color: rgb(3, 166, 3);
    font-size: 24px;
}

.statusItemOffline {
    color: red;
    font-size: 24px;
}